.avatar img {
  height: 150px;
  max-width: 150px;
}

.fullName {
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: #4caf50 1px solid;
}
h3 {
  color: #4caf50;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h4 {
  color: #4caf50;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.userContact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: #4caf50 1px solid;
}
.userHeader {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0;
  width: 100%;
  /* max-width: 500px; */
  padding: 20px;
  border: #4caf50 1px solid;
}

.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: #4caf50 1px solid;
}
.updateUserForm span {
  margin: 0, 50px;
}
.button .updateUserButton {
  background-color: #4caf50;
  height: 50px;
  width: 125px;
}

.updateAvatar img {
  max-height: 75px;
}
